<div id='heading-wrapper'>
    <div class="custom-row justify-content-md-center">
        <div class="col-md-center-custom">
            <img class='profile-pic' src="../../assets/profile.png">
        </div>
        <div class="col-md-6 info">
            <div id='first'class="custom-row"><h6>Hi, my name is</h6></div>
            <div id='name'class="custom-row"><h3>Antoine Pilote</h3></div>
            <div id='status'class="custom-row"><h4>I’m a CS student.</h4></div>
            <div id='desc'class="custom-row"><p>Im a student in Computer Science at Cegep Edouard mont-petit in Montreal, QC. 
                I specialize in 3D software and games. Mostly as a hobby.</p></div>
        </div>
        
    </div>
    
</div>
<div class="bounce-container">
    <div class="row">
            <div class="arrow bounce">
                <a class="fa fa-arrow-down fa-2x" href="#pinned"></a>
            </div>
        </div>
</div>