<div id='heading-wrapper'>
    <div class="container row center-content">
        <div class="col-md-2">
            <img class='profile-pic' src="../../assets/profile.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div id='first'class="row">Hi, my name is</div>
            <div id='name'class="row">Antoine Pilote.</div>
            <div id='status'class="row">I’m a CS student.</div>
            <div id='desc'class="row">Im a student in Computer Science at Cegep Edouard mont-petit in Montreal, QC. I specialize in 3D software and games. Mostly as a hobby.</div>
        </div>
    </div>
</div>



