$bg-color: #10192C;
$text-color: #8492B0;
$overlap: 50px;
$link-color: #858A93;

.project-img{
    width: 100%;
    border-radius: 8px;
}

.col-md-6-custom {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.info-card{
    color: $text-color;
    background-color: $bg-color;
    border-radius: 3px;
    padding: 30px;
    text-align: right;
    position: relative;
    left: -$overlap;
}

#type{
    padding-right: $overlap;
}

#title{
    padding-right: $overlap;
}

.item-wrapper{
    margin-top: 50px;
    text-align: right;
}

p, h6{
    text-align: right;
    width: 100%;
}


h6{
    font-size: 26px;
}

p{
    font-size: 15px;
}



.link-container{
    float: right;
    width: 100%;
    height: 25px;
    padding-right: $overlap;
    a{
        
        color: $link-color;
    }
    a:hover{
        color: $bg-color;
        text-decoration: none;
    }
    i{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

i{
    opacity: 33%;
}
.description{
    font-size: 18px;
}

.custom-row-no-marg{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.custom-row-fixed{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
}

@media screen and (max-width: 1000px) {
    .left{
        display:none;
        max-width: 0%;
        width: 0%;
    }
    .right{
        max-width: 100%;
        width:100%;
        flex: none;
    }
    .info-card{
        position: absolute;
        left: 0px;
        max-height: 250px;
        height: 250px;
    }
    #type{
        padding-right: 0;
    }
    
    #title{
        padding-right: 0;
    }

    .card-container{
        height: 100px;
    }

    .custom-row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .custom-row-fixed{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        height: 250px;
    }
    
    .custom-row-no-marg{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .link-container{
        padding-right: 0px;
    }
}
@media screen and (max-width: 500px) {
    .info-card{
        height: 300px;
        max-height: 300px;
    }

    .custom-row-fixed{
        height: 300px;
    }
}