.project-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
button{
    margin-right: 15px;
    float: right;
}

.sort-text{
    vertical-align: bottom;
    margin-right: 15px;
    float: right;
}

h4{
    vertical-align: bottom !important;
    margin-bottom: 0 !important;
}

.sort-menu{
    float:right;
}