<div class="project-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Some of my projects.</h4>
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                    <app-project-showcase-item></app-project-showcase-item>
            </div>
        </div>
        <div class="row">
                <div class="col">
                        <app-project-showcase-item-reverse></app-project-showcase-item-reverse>
                </div>
            </div>
    </div> 
</div>
