$bg-color: #10192C;
$text-color: #8492B0;
$overlap: 50px;

$link-color: #858A93;
.project-img{
    width: 100%;
    border-radius: 8px;
    z-index: -2;
}

.col-md-6-custom {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.info-card{
    color: $text-color;
    background-color: $bg-color;
    border-radius: 3px;
    padding: 15px;
    text-align: left;
    z-index: 2;
    position: relative;
    right: -$overlap;
}

.item-wrapper{
    margin-top: 50px;
    text-align: left;

}
p, h6{
    text-align: left;
    width: 100%;
}

h6{
    font-size: 26px;
    
    margin-left: $overlap;
}

p{
    font-size: 15px;
}

#type{
    
    margin-left: $overlap;
}

.link-container{
    float: left;
    left:0;
    position: relative;
    width: 100%;
    margin-left: $overlap;
    a{
        
        color: $link-color;
    }
    a:hover{
        text-decoration: none;
        color: $bg-color;
    }
    i{
        width: 25px;
        height: 25px;
    }
}

i{
    opacity: 33%;
}

.description{
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .left{
        display:none;
        max-width: 0%;
        width: 0%;
    }
    .right{
        max-width: 100%;
        width:100%;
        flex: none;
    }

    h6{
        margin-left: 0;
    }
    #type{
        margin-left: 0;
    }
    .info-card{
        position: absolute;
        left: 0px;
    }

    .card-container{
        height: 100px;

    }
}
