<div class="row item-wrapper">
        <div class="col-md-6">
            <div class="row" id="scene5">
                <p data-depth="0.2" id='type'>Game engine plugin</p>
            </div>
            <div class="row" id="scene6">
                <h6 data-depth="0.2"><b>Voxel factory</b></h6>
            </div>
            <div class="row "id='scene7' style="z-index: 10;">
                <div data-depth="0.24" class="info-card shadow" >
                    <p class="description">
                        Voxel factory is a plugin that I developped for Godot Engine.
                        It makes voxel game design easier for anyone without any of 
                        the complex meshing algorithm. It features a in-engine voxel editor,
                        a sprite to voxel converter, and a library that was coded in C# and GDscript.
                        
                        </p>
                </div>
                
            </div>
            <div class="row" id="scene8">
                <div data-depth="0.2" class="link-container">
                        <i class="fa fa-github"></i>
                        <i class="fa fa-external-link"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img2">
            <img data-depth="-0.1" class="project-img shadow" src="../../assets/logo2.png">
        </div>
    </div>
    