<div class="body">
    <div id="nav-wrapper">
        <div class="sticky">
            <a href="/" class="container row">
                <div class="icon-container">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <p>Go back</p>
            </a>
            <div class="heading-container">
                <h1 class='display-3 text-center' id='title'>Project title</h1>
            </div>
        </div>
    </div>
    <div class="wrapper shadow">
        <div id="markdown-container" >
        </div>
    </div>
</div>
