$bg-color: #10192C;
$hi-color: #8492B0;
$name-color: #EDEDED;
$content-offset: 50px;

.wrapper
{
    margin-left: 20%;
    margin-right: 20%;

    position: relative;
    top: -$content-offset;
}

.body{
    scroll-behavior: smooth;
}


#nav-wrapper
{
    width: 100%;
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
    background: $bg-color;
    color: $name-color;
    vertical-align: bottom;
    background-size: cover;
    background-color: $hi-color;
    background-position: center;
    a{
        width: 100%;
        color:white;
    }
}

.heading-container{
    margin-left: 20%;
    margin-right: 20%;
    background-repeat: no-repeat;
    padding-top: 150px - $content-offset;
    padding-bottom: 150px ;
    .row{
        padding-bottom: 50px;

        vertical-align: center;

    } 
   
}

code{
    background-color: #8492B0;
}

#title {
    font-weight: 700;
    font-size: 4em
}






.icon-container{
    display:inline-block;
    margin-right: 5px;
}

#markdown-container{
    background: #EDEDED;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;

    img{
        max-width: 100%;
    }
    
}

.body{
    background-color: #10192C;
    margin: 0;
    padding: 0;
}

.toc{
    width: 100%;
    color:redl;
    ul {
        width: 100%;
        display: flex !important;
        justify-content: center;
    }
}
