<div class="container-fluid">
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <h2>Get in touch</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="text-wrapper">
                        <p>
                            If you wish to contact me, don't hesitate to send me an email. I will try my best to answer you
                            as fast as possible. 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-wrapper">
                        <a href="mailto:antoinepilote1@hotmail.com" target="_blank" class="btn btn-outline-primary">Send me an email</a>
                    </div>
                </div>
                <div class="row">
                    <div class="text-wrapper" id="cv-text">
                            <p>If you wish to see my CV, you can download it <a href="../../assets/img/robin1.gif">here</a>.</p>
                    </div>
                </div>
                
                
                
    </div>
    
</div>


