<div class="container-fluid">
        <div class="container">
                <div class="row">
                    <h4 class="title">Other Projects</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="project-container container">
                            <div class="row icon">
                                <img src="../../assets/iconmonstr-folder-thin.svg">
                            </div>
                            <div class="row">
                                <h5>Tasklist app</h5>
                            </div>
                            <div class="row">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque metus lectus, eleifend 
                                    ullamcorper tellus accumsan nec.Donec euismod risus eu suscipit iaculis. Donec suscipit tellus ac 
                                    velit condimentum condimentum. Aenean ullamcorper nibh ut suscipit tempor. Maecenas convallis 
                                    lorem at cursus cursus. Aliq
                                </p>
                            </div>
                            <div class="row">
                                <ul class="tech-list">
                                    <li>C#</li>
                                    <li>Javascript</li>
                                    <li>Python</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="project-container container">
                                <div class="row icon">
                                    <img src="../../assets/iconmonstr-folder-thin.svg">
                                </div>
                                <div class="row">
                                    <h5>Tasklist app</h5>
                                </div>
                                <div class="row">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque metus lectus, eleifend 
                                        ullamcorper tellus accumsan nec.Donec euismod risus eu suscipit iaculis. Donec suscipit tellus ac 
                                        velit condimentum condimentum. Aenean ullamcorper nibh ut suscipit tempor. Maecenas convallis 
                                        lorem at cursus cursus. Aliq
                                    </p>
                                </div>
                                <div class="row">
                                    <ul class="tech-list">
                                        <li>C#</li>
                                        <li>Javascript</li>
                                        <li>Python</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <div class="project-container container">
                                    <div class="row icon">
                                        <img src="../../assets/iconmonstr-folder-thin.svg">
                                    </div>
                                    <div class="row">
                                        <h5>Tasklist app</h5>
                                    </div>
                                    <div class="row">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque metus lectus, eleifend 
                                            ullamcorper tellus accumsan nec.Donec euismod risus eu suscipit iaculis. Donec suscipit tellus ac 
                                            velit condimentum condimentum. Aenean ullamcorper nibh ut suscipit tempor. Maecenas convallis 
                                            lorem at cursus cursus. Aliq
                                        </p>
                                    </div>
                                    <div class="row">
                                        <ul class="tech-list">
                                            <li>C#</li>
                                            <li>Javascript</li>
                                            <li>Python</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="project-container container">
                                        <div class="row icon">
                                            <img src="../../assets/iconmonstr-folder-thin.svg">
                                        </div>
                                        <div class="row">
                                            <h5>Tasklist app</h5>
                                        </div>
                                        <div class="row">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque metus lectus, eleifend 
                                                ullamcorper tellus accumsan nec.Donec euismod risus eu suscipit iaculis. Donec suscipit tellus ac 
                                                velit condimentum condimentum. Aenean ullamcorper nibh ut suscipit tempor. Maecenas convallis 
                                                lorem at cursus cursus. Aliq
                                            </p>
                                        </div>
                                        <div class="row">
                                            <ul class="tech-list">
                                                <li>C#</li>
                                                <li>Javascript</li>
                                                <li>Python</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
</div>

