<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h4 class="title">Other Projects</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <app-other-project-item
                    projectTitle="{{project1.name}}"
                    projectDesc="{{project1.desc}}"
                    ></app-other-project-item>
            </div>
            
            <div class="col-md-6">
                    <app-other-project-item
                    projectTitle="{{project2.name}}"
                    projectDesc="{{project2.desc}}"
                    ></app-other-project-item>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-other-project-item
                    projectTitle="{{project3.name}}"
                    projectDesc="{{project3.desc}}"
                    projectTech="{ C# }">
                </app-other-project-item>
            </div>
            <div class="col-md-6">
                <app-other-project-item
                    projectTitle="{{project4.name}}"
                    projectDesc="{{project4.desc}}">
                </app-other-project-item>
            </div>
        </div>
    </div>
</div>

